<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bundle Iden</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Cargo Link</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>cgl</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cgl</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>101</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>The app needs a camera to take your photo to set as a personal profile or photo of trucks when you want to add your trucks. </string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App needs always location access when usage</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App needs location access to get your current location and automatically set to pick up point or drop point.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App needs location access to get your current location and automatically set to pick up point or drop point.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App needs photo library access to set as a personal profile or photo of trucks when you want to add your trucks. </string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App needs photo library access to set as a personal profile or photo of trucks when you want to add your trucks. </string>
	<key>NSUserTrackingUsageDescription</key>
	<string>CargoLinkMobile requires your permission to track in order to show you more relevant ads.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>Ionicons.eot</string>
		<string>Ionicons.svg</string>
		<string>Ionicons.woff</string>
		<string>Ionicons.woff2</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Kanit-Black.ttf</string>
		<string>Kanit-BlackItalic.ttf</string>
		<string>Kanit-Bold.ttf</string>
		<string>Kanit-BoldItalic.ttf</string>
		<string>Kanit-ExtraBold.ttf</string>
		<string>Kanit-ExtraBoldItalic.ttf</string>
		<string>Kanit-ExtraLight.ttf</string>
		<string>Kanit-ExtraLightItalic.ttf</string>
		<string>Kanit-Italic.ttf</string>
		<string>Kanit-Light.ttf</string>
		<string>Kanit-LightItalic.ttf</string>
		<string>Kanit-Medium.ttf</string>
		<string>Kanit-MediumItalic.ttf</string>
		<string>Kanit-Regular.ttf</string>
		<string>Kanit-SemiBold.ttf</string>
		<string>Kanit-SemiBoldItalic.ttf</string>
		<string>Kanit-Thin.ttf</string>
		<string>Kanit-ThinItalic.ttf</string>
		<string>Fontisto.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
